.width-25{
    width: 20% !important;
}
a{
    list-style: none;
    color: white;
}
.fsize{
    font-size: 14px;
}
li{
    list-style: none;
}
.dflex{
    display: flex;
    flex-direction: row;
    color: rgb(203, 185, 185) !important;
    padding: 6px;
    width: 90%;
    margin: auto;
    font-weight: bold;
}
.dflex:hover{
    background-color: rgba(0, 0, 0, 0.479);
    color: white !important;
    border-radius: 7px;
}
.active{
    background-color: rgba(0, 0, 0, 0.479);
    color: white !important;
    border-radius: 7px;
}
a{
    text-decoration: none; 
}
.height50{
    height: 50px !important;
}
.stickyTop{
    position: sticky;
    top: 0;
    z-index: 999;
}
.scrollY{
    overflow-y: scroll;
    
}
.scrollY::-webkit-scrollbar {
    display: none;
    background-color: #F5F5F5;
  }
  .scrollY::-webkit-scrollbar-thumb {
    background-color: #000000;
  }